.table {
  display: table;
  width: auto;
}
.table .row {
  display: table-row;
  width: auto;
  clear: both;
}
.table .row .coll {
  float: left;
  /* fix for  buggy browsers */
  display: table-column;
  width: 10px;
  height: 10px;
  background-color: #000;
}
.table .row .alive {
  background-color: #ccc;
}
