.table {
  display: table;
  width: auto;
  .row {
    display: table-row;
    width: auto;
    clear: both;
    .coll {
      float: left; /* fix for  buggy browsers */
      display: table-column;
      width: 8px;
      height: 8px;
      background-color: #000;
    }
    .alive {
      background-color: #ccc;
    }
  }
}
.canvas {
  display: inline-block;
  margin: 2.2em;
}
.menu {
  float: right;
  margin: 0 0.4em 0 0.4em;
}

.info-card {
  margin-top: 0.4em;
  background-color: whitesmoke;
}
